

#background{
    width: 1000px;
    height: 500px;
    background-color: green;
}
#ground{
    width: 1000px;
    height: 100px;
    background-color:black;
    position: absolute;
    top:425px;
}

#player{
    width: 75px; 
    height: 75px;
    background-color: red;
    position:absolute;
}